<section>
    <header>
        <h2>You may select {{numPowers}} force powers.</h2>
    </header>
    <main>
        <select #selectPower name="selectPower" (change)="selectedPower(selectPower.value)">
            <option>Select a Power</option>
            <option *ngFor="let power of forcePowersArr">{{power.name}}</option>
            <option *ngFor="let saberForm of saberFormPowers">{{saberForm.name}}</option>  
        </select>
        <div class="box" *ngIf=" forceName !=''">
            <label>Force Power: {{forceName}}</label>
            <label>Description: {{forceDesc}}</label>
            <button (click)="acceptPower()">Add to Suite</button>
        </div>
        <aside *ngIf="heroForceSuite.length != 0">
            <div class="box powers" *ngFor="let power of heroForceSuite let i = index">
                <p>{{power.name}}</p>
                <button (click)="deletePower(i)">Remove</button>
            </div>
        </aside>
        <button *ngIf="heroForceSuite.length > 0" (click)="savePowers()">Save Powers</button>
    </main>
</section>