<header>
    <p>Version 2.2</p>
    <h3>Please select either "Create a New Hero" or "Modifiy an Existing Hero" to begin.</h3>
    <nav>
        <ul class="mainNav" *ngIf="loggedIn; else needLogin">
            <li><a routerLink="/new-hero" routerLinkActive="active">Create a New Hero</a></li>
            <li><a routerLink="/update-hero" routerLinkActive="active">Modifiy an Existing Hero</a></li>
            <li><a (click)="logOut()">Log Out</a></li>
        </ul>
    </nav>
    
   <ng-template #needLogin>
    <ul class="mainNav">
        <li><a routerLink="/new-hero" routerLinkActive="active">Guest</a></li>
        <li><a (click)="toggleLogin()">Login</a></li>
    </ul>
   </ng-template>
</header>
<main>
    <h2>Introduction</h2>

    <p>This web application was developed as a resource to aide in the creation and upkeep of a star wars saga edition character.</p> 
    
    <p>If you hit the "Create a New Hero" button then you will see a page that will allow you to create a new non-droid character with all stats starting at level one.</p>
    
    <p>The next button labeled "Modifiy an Existing Hero" will take you to a page that will provide you with access to all your characters that you have saved where you can view their stats and/or update them.</p>

    <p>This app utilizes the information that can be found on the <a class="bold" href="https://swse.fandom.com/wiki/Star_Wars_Saga_Edition_Wikia" target="_blank">Star Wars Saga Edition Wiki</a> to help determine what is permissable when creating or updating a character.</p>

    <aside *ngIf="log_in" class="modal">
        <label>User Name :</label>
        <input type="text" #userName/>
        <label>Password :</label>
        <input type="password" #password/>
        <button (click)="handleLogin(userName.value, password.value)">Log in</button>
        <span *ngIf="invalidation" class="validation"><p>Invalid Username or Password!!!</p></span>
    </aside>
</main>