header, main{
   text-align: center;
}
li{
    list-style: none;
    a{
        padding:.25em;
    }
}
a{
    text-decoration: none;
    
   
}
.mainNav{
    display: flex;
    justify-content: center;
    li{
        border:2px solid blue;
        padding: 2px;
        margin: 1rem;
        cursor: pointer;

        &:hover{
            background-color: black;
            border:2px inset rgba(185, 185, 185, 0.836);
            a{
                color:rgb(228, 206, 8);
            }
        }
    }
}
.bold{
    font-weight: 900;
    color: blue;
    font-style: italic;
    &:hover{
        color:rgb(228, 206, 8);
    }
}

.modal{
    input{
        margin: .5em;
    }
    .validation {
        font-style: italic;
        color: red;
    }
    button{
        cursor: pointer;
    }
}


@media (min-width:768px){
   h2{
    font-size: 2rem;
   }
    h3{
    font-size: 1.8rem;
   }
    p,a{
        font-size:1.5rem;
    }

}