<h6>Attacks</h6>
<section class="attacks">
        <div *ngFor="let weapon of weaponsArray; let i=index">
            <div class="tb">
                <div class="tbrow">
                    <div class="box name">        
                        <p>{{weapon.name}}</p>
                        <p>{{weapon.wep_type}}</p>
                    </div>
                </div>
            </div>
            <div class="tb">
                <div class="tbrow">
                    <div class="box cols">
                        <p class="blank">Hidden</p>
                        <label class="shadow">Attack</label>
                        <label class="shadow">Damage</label>
                    </div>
                    <div class="box cols">
                        <p class="blank">Hidden</p>
                        <p class="blank">Hidden</p>
                        <p>{{weapon.die}}</p>
                    </div>
                    <div class="box cols">
                        <label>Total</label>
                        <p>{{weapon.attack_total}}</p>
                        <span>+</span>
                    </div>
                    <div class="box cols">
                        <p class="blank">Hidden</p>
                        <p class="blank">Hidden</p>
                        <p>{{weapon.damage_total}}</p>
                    </div>
                </div>
                <div class="tbrow">
                    <div class="box cols">
                        <span class="blank">|</span>   
                        <span>|</span>
                        <span>|</span>
                    </div>
                    <div class="box cols">
                        <label>Mod</label>
                        <select id="{{i}}" (change)="collectAttackMod(i, $event)">
                            <option *ngFor="let mod of attackMods">{{mod}}</option>       
                        </select>
                        <select id="damageMod_type" (change)="collectDamageMod(i, $event)">
                            <option *ngFor="let mod of damageMods">{{mod}}</option>
                        </select>
                    </div>
                    <div class="box cols">
                        <span class="blank">+</span>
                        <span>+</span>
                        <span>+</span>
                    </div>
                    <div class="box cols">
                        <label>Misc</label>
                        <input class="smallBox" type="number" min="0" #attackMisc (change)="collectAttackmisc(i, attackMisc.value)" >
                        <input class="smallBox" type="number" min="0" #dmgMisc (change)="collectDamageMisc(i, dmgMisc.value)">
                    </div>
                </div>
            </div>
            <div class="tbrow">
                <div class="box">
                    <h5>Critical Info</h5>
                    <label>Range</label>
                    <input class="smallBox" type="number" min="0" #rangeNumber>
                    <label>Multiplier</label>
                    <input class="smallBox" type="number" min="0" #multNumber>
                </div>
            </div>
            <div class="box notes">
                <label id="attack_notes" name="attack_notes" rows="2" cols="100" placeholder="Attack Notes">Attack Notes:</label>
                    <p>{{weapon.att_notes}}</p>           
            </div>
            <div class="box notes">
                <label id="weapon_notes" name="weapon_notes" rows="2" cols="100" placeholder="Weapon Notes">Weapon Notes:</label> 
                    <p>{{weapon.wep_notes}}</p>      
            </div> 
            <div class="box wep-btns">
                <button (click)="editForm(i)" [disabled]="wepEdit">Modify</button>
                <button (click)="deleteWeapon(i)" [disabled]="wepEdit">Delete</button>
            </div>
        </div>
        <div *ngIf="wepEdit" class="box wep-edit">
            <h2>Edit: {{weaponsArray[wepEditIndex].name}}</h2>
            <div class="tb">
                <label>Weapon Name: </label>
                <input type="text" #editWepName name="editWepName" value="{{weaponsArray[wepEditIndex].name}}">
            </div>
            <div class="tb">
                <label>Weapon Damage: </label>
                <span>(ex: 1d6)</span>
                <input type="text" #editWepDie name="editWepDie" value="{{weaponsArray[wepEditIndex].die}}">
            </div>
            <div class="tb">
                <label>Attack Notes:</label>
                <input type="text" #editAttNotes name="editAttNotes" value="{{weaponsArray[wepEditIndex].att_notes}}">
            </div>
            <div class="tb">
                <label>Weapon Notes: </label>
                <input type="text" #editWepNotes name="editWepNotes" value="{{weaponsArray[wepEditIndex].wep_notes}}">
            </div>
            <div class="tb">
                <button (click)="editWeapon(editWepName.value,editWepDie.value, editAttNotes.value, editWepNotes.value)">Save Changes</button>
                <button (click)="editForm(-1000)">Cancel</button>
            </div>
        </div> 
    <div *ngIf="createWepForm">
        <label>Weapon Type: </label>
        <select #weaponType value="selected" (change)="selectWeaponType(weaponType.value)">
            <option>Select Type</option>
            <option>Melee</option>
            <option>Ranged</option>
            <option>Custom</option>
        </select>
        <aside *ngIf="notCustom else yesCustom">
            <select #weaponName value="selected" >
                <option>Select a Weapon</option>
                <option *ngFor="let name of currentSelectionNamesArray">{{name}}</option>
            </select>
            <button (click)="createWeaponIndex(weaponName.value)">Add Weapon</button>
        </aside>

    </div>

    <div class="btns">
        <button (click)="createNewWeapon()" class="add" [disabled]="wepEdit">+Add</button>
    </div>
</section>
<ng-template #yesCustom>
    <div class="box wep-edit">
        <div class="tb">
            <label>Weapon Name</label>
            <input type="text" name="custName" #cusName required>
        </div>
        <div class="tb">
            <label>Weapon Type:</label>
            <select name="cusWepType" #cusWepType required>
                <option *ngFor="let wep of customWepType">{{wep}}</option>
            </select>
        </div>
        <div class="tb">
            <label>Damage Die</label>
            <input type="text" #cusDie required>
        </div>
        <div class="tb">
            <label>Damage Type:</label>
            <input type="text" #cusDmgType required>
        </div>
        <div class="vtb">
            <label>Attack Notes</label>
            <input type="text" #cusAttNotes required>
        </div>
        <div class="tb">
            <label>Weapon Notes</label>
            <input type="text" #cusWepNotes required>
        </div>
        <button (click)="saveCusWep(cusName.value, cusWepType.value, cusDie.value,cusDmgType.value, cusAttNotes.value, cusWepNotes.value)">Save Custom Weapon</button>
    </div>
</ng-template>