<nav class="nav">
    <a routerLink="/" routerLinActive="active">Landing Page</a>
    <a routerLink="/new-hero" routerLinActive="active">Create a New Hero</a>
</nav>
<section *ngIf="heroPull else reminder">
    <aside class="side_nav">
        <ul *ngIf="navToggle">
            <li><a (click)="scrollTo('name_nav')">{{savedName}}</a></li>
            <li><a (click)="scrollTo('attr_nav')">Attributes</a></li>
            <li><a (click)="scrollTo('thresh_nav')">Damage Threshold</a></li>
            <li><a (click)="scrollTo('defenses_nav')">Defenses</a></li>
            <li><a (click)="scrollTo('armor_nav')">Current Armor</a></li>
            <li><a (click)="scrollTo('attacks_nav')">Attacks</a></li>
            <li><a (click)="scrollTo('skills_nav')">Skills</a></li>
            <li *ngIf="forceUser"><a (click)="scrollTo('powers_nav')">Force Powers</a></li>
            <li><a (click)="scrollTo('equip_nav')">Equipment</a></li>
            <li><a (click)="scrollTo('languages_nav')">Languages</a></li>
            <li><a (click)="scrollTo('exp_nav')">Experience</a></li>
            <li><a (click)="scrollTo('cred_nav')">Credits</a></li>
            <li><a (click)="scrollTo('enc_nav')">Encumbrance</a></li>
            <li><a (click)="scrollTo('feats_nav')">Feats</a></li>
            <li><a (click)="scrollTo('talents_nav')">Talents</a></li>
            <li *ngIf="forceUser"><a (click)="scrollTo('force_notes_nav')">Force Notes</a></li>
            <li><a (click)="scrollTo('notes_nav')">Notes</a></li>
        </ul>
        <button (click)="toggleNav()">{{navToggleText}}</button>
    </aside>
    <h1 id="name_nav">{{savedName}}</h1>
    <div class="navbtns">
        <button (click)="updateHero()">Save {{savedName}}</button>
        <button (click)="deleteHero('delete', savedName)">Delete {{savedName}}</button>
        <button (click)="openModal('xp')">Add Experience Points</button>
        <button (click)="switchHero()">Select another hero</button>
    </div>
    <aside *ngIf="xpModalToggle" class="modal">
        <label>Enter Earned XP amount then click Add Points.</label>
        <input type="number"id="xp" name="xp" #xp>
        <button (click)="calcHeroLevel(xp.value)">Add Points</button>
    </aside>
    <div class="heroBgContainer">
        <div class="half-row">
            <label>Class: </label>
            <div class="lightContainer classContainer">
                <p *ngFor="let class of heroClass |keyvalue">{{class.key}} {{class.value}} </p>        
            </div>
        </div>
    <div class="half-row">
        <div class="box">
            <label>Level: </label>
            <div class="box">
                <p class="lightContainer">{{heroLevel}}</p>
                <p class="lightContainer">{{halfLevel}}</p>
            </div>       
        </div>         
            <div class="box">
                <label>Species: </label>
                <p class="lightContainer">{{heroSpeciesObj.species_name}}</p>
            </div>    
    </div>
    <div class="half-row">
        <div class="box">
            <label>Gender: </label>
            <select name="gender" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>      
        <div class="box">
            <label>Size: </label>
            <p class="lightContainer">{{size}}</p>
        </div>
    </div>
    </div>
    <section class="attrContainer">
        <section class="abilityWrapper">
            <h6 id="attr_nav">Attributes</h6>
            <div class="half-row">
                <div class="abilitiesContainer">
                    <div class="abilities" *ngFor="let ability of heroAbilities | keyvalue : unsorted">
                        <p>{{ability.key}}</p>
                        <p>{{ability.value}}</p>
                    </div>
                </div>
                <div class="abilitiesContainer">
                    <div class="modAbs" *ngFor="let mod of abilityMod | keyvalue : unsorted">                          
                        <p >{{mod.value}}</p> 
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="tb">
                <h6>Hit Points</h6>
                <div class="half-row">
                    <div class="box">
                        <Label>Current</Label>
                        <input name="currentHP" #changeHp type="number" min="0" value="{{currentHp}}" (change)="updateCurrentHp(changeHp.value)">
                    </div>
                    <span>/</span>
                    <div class="box">
                        <label>Total:</label>
                        <p>{{maxHp}}</p>
                    </div>
                </div>
            </div>
            <div id="thresh_nav" class="tb">
                <h6>Threshold</h6>
                <div class="box">
                    <label>Total</label>
                    <p>{{damageThreshold}}</p>
                    <span>=</span>
                    <label>Defense</label>
                    <select id="defense_type" value="selected" #dmgThOption (change)="calcDT(dmgThOption.value)">
                        <option>Fortitude Defense</option>
                        <option>Reflex Defense</option>
                        <option>Will Defense</option>
                    </select>
                    <label>Misc.</label>
                    <input name="dtMisc" #dtMisc id="dtMisc" type="number" (change)="setDTMisc(dtMisc.value)">
                </div>
                <div class="reductions">
                    <div>
                        <label>Damage Reduction</label>
                        <input type="number" min="0">
                    </div>
                    <div>
                        <label>Shield Rating</label>
                        <input type="number" min="0">
                        <span>/</span>
                        <input type="number" min="0">
                    </div>
                    <div>
                        <label>Immune</label>
                        <input type="text">
                    </div>
                </div>
            </div>
        </section>
        <section class="tb conditions">
            <h6>Condition</h6>
            <input type="radio" id="normal" name="condition" value="normal" (click)="updateCondition(0)" checked="true">
            <label for="normal">Normal</label><br>
            <input type="radio" id="negOne" name="condition" value="-1" (click)="updateCondition(-1)">
            <label for="negOne">-1</label><br>  
            <input type="radio" id="negTwo" name="condition" value="-2" (click)="updateCondition(-2)">
            <label for="negTwo">-2</label><br>
            <input type="radio" id="negFive" name="condition" value="-5" (click)="updateCondition(-5)">
            <label for="negFive">-5</label><br>
            <input type="radio" id="negTen" name="condition" value="-10" (click)="updateCondition(-10)">
            <label for="negTen">-10</label><br>  
            <input type="radio" id="helpless" name="condition" value="helpless" (click)="updateCondition(-10)">
            <label for="helpless">Helpless</label><br><br>
    
        </section>
        <section class="adds">
            <div class="tb">
                <div class="box">
                    <h6>Force Points</h6> 
                    <div class="tb">
                        <input type="number" min="0" placeholder="{{forcePoints}}">
                        <p>{{forceDice}}</p>
                    </div>
                </div>
                <div class="box">
                    <h6>Destiny Points</h6>              
                    <input type="number" min="0">                   
                </div>
            </div>
            <div class="tb">
                <div class="box">
                    <h6>BAB</h6>
                    <p>{{BAB}}</p>           
                </div>
                <div class="box">
                    <h6>Speed</h6>  
                    <p>6</p>
                </div>
                <div class="box">
                    <h6>Dak Side Points</h6>
                    <input type="number" min="0">
                </div>    
            </div>
            <div class="tb">
                <div class="box">
                    <h6>Grapple</h6> 
                    <div class="tb">
                        <p class="numbs">{{grapple}}</p>       
                        <p>=</p>
                        <div class="box">
                            <select value="selected" #grappleOption (change)="calcGrapple(grappleOption.value)">
                                <option value= "Strength">STR</option>
                                <option value="Dexterity">DEX</option>
                            </select>
                            <label>Mod</label>
                        </div>
                        <p>+</p>
                        <div class="box">
                            <input class="smallBox" type="number" name="grptMisc" #grpMisc id="grpMisc" (change)="setGrappleMisc(grpMisc.value)">
                            <label>Misc</label>
                        </div>   
                    </div>      
                </div>
            </div>
        </section>
    </section>
    <div class="split-box">
        <div class="tb">
            <div class="box">
                <defenses id="defenses_nav" [heroLevel]="heroLevel" (defenses)="updateDefenses($event)" #defenses></defenses>
            </div> 
            <div class="box">
                <armor id="armor_nav" (savedArmor)="[updateArmor($event), defenses.updateArmor($event), updateSkills.checkWorn($event)]"></armor>
            </div>
            <div class="box">
                <attacks id="attacks_nav" (savedAttacks)="updateAttacks($event)" [currentHero]="savedHero"></attacks>
            </div>
        </div>
        <div class="tb">
            <update-skills id="skills_nav" [chosenSkills]="skills" #updateSkills></update-skills>
            <div class="tb">
                <h6>Attack Options</h6>
                <textarea (change)="saveNotes('attackOpts', $event)" cols="30" rows="10">{{attackOptsNotes}}</textarea>  
            </div>
            <div class="tb">
                <h6>Special Attacks</h6>
                <textarea (change)="saveNotes('attackNotes', $event)" cols="30" rows="10">{{specAttackNotes}}</textarea>  
            </div>
            <div id="powers_nav" class="tb" *ngIf="forceUser">
                <h6>Force Powers</h6>
                <!-- need to have it check total of force powers alloted and current ones-->
                <button *ngIf = "forcePowers.length < totAllotForPow" (click)="showFPs()">Add Force Powers</button>
                <div class="box">
                    <p class="fps" *ngFor="let power of forcePowers">{{power.name}}</p>
                </div>
                <forcepowers *ngIf="addFPs && forcePowers.length < totAllotForPow"></forcepowers>
            </div>
            <div class="tb">
                <h6>Starship Maneuvers</h6>
                <textarea (change)="saveNotes('starshipNotes', $event)" cols="30" rows="10">{{starshipNotes}}</textarea> 
            </div>
        </div>
    </div>
    <hr>
    <div class="split-box">
        <div class="tb">
           <equipment id="equip_nav" (inventory)="updateInventory($event)"></equipment>
        </div>
        <div class="tb">
            <div class="box">
               <languages id="languages_nav" [knownLanguages]="heroLanguages" [totalLangs]="langsAllowed" (savedLanguages)="updatelanguages($event)"></languages>
            </div>
            <div class="box">
                <experience id="exp_nav" [levelUp]="levelUp" (heroLvlUpObj)="levelUpHero($event)"></experience>
            </div>
            <div class="tb">
                <h6 id="cred_nav">Credits</h6>
                <credits></credits>
            </div>
            <div class="box">
               <encumbrance id="enc_nav" style="width:100%;"></encumbrance>
            </div>
        </div>
    </div>
    <hr>
    <div class="box flex-start">
        <div class="tb third-size">
            <h6>Special Qualities</h6>
                <textarea class="third-size" #specialQualities id="specialQualities" (change)="saveNotes('specQual', $event)" cols="30" rows="10">{{specialQuals}}</textarea>   
        </div>
        <div class="tb third-size">
            <h6 id="feats_nav" >Feats</h6>
            <div class="white-board">
                <p *ngFor="let feat of startingFeats">{{feat}}</p>
            </div>
        </div>
        <div class="tb third-size">
            <h6 id="talents_nav">Talents</h6>
            <div class="white-board">
                <div *ngFor="let talent of startingTalents">
                    <p *ngIf="talent.alias == undefined || talent.alias == ''">{{talent.name}} : {{talent.description}}</p>
                    <p *ngIf="talent.alias != undefined">{{talent.alias}} : {{talent.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="force_notes_nav" *ngIf="forceUser" class="box flex-start">
        <div class="tb third-size">
            <h6>Force Techniques</h6>
            <textarea class="third-size" name="forceTechniques" (change)="saveNotes('techniques', $event)" cols="30" rows="10">{{forceTechniques}}</textarea>
        </div>
        <div class="tb third-size">
            <h6>Force Secrets</h6>
            <textarea class="third-size" name="forceSecrets" (change)="saveNotes('secrets', $event)" cols="30" rows="10">{{forceSecrets}}</textarea>
        </div>
        <div class="tb third-size">
            <h6>Force Regimens</h6>
            <textarea class="third-size" name="forceRegimens" (change)="saveNotes('regimens', $event)" cols="30" rows="10">{{forceRegimens}}</textarea>
        </div>
    </div>
    <div class="box hnotes">
        <div class="tb">
            <h6 id="notes_nav">Notes</h6>
           <textarea name="heroNotes" id="heroNotes" cols="100" rows="10" (change)="saveNotes('hero_notes', $event)">{{heroNotes}}</textarea>
        </div>
    </div>
</section>
<ng-template #reminder>
    <div>
        <!-- <select *ngIf="savesPulled" #localSaves value="selected" (change)="getHero(localSaves.value)">
            <option>Select a Save File</option>
            <option *ngFor="let hero of savedHeroes">{{hero.name}}</option>
        </select> -->
    </div>
    <h4>In order to generate the correct character sheet please select one of your saved heroes. If there are none to select then you will need to create a new hero first.</h4>
    <aside class="heroSelectBox">
        <label>File Name:</label>
        <div class="heroSelect" *ngFor="let hero of savedHeroes let i = index">
            <div class="box">
                <Label>Name:</Label>
                <p>{{hero.name}}</p>
            </div>
            <div class="box">
                <label>Species:</label>
                <p>{{hero.species.species_name}}</p>
            </div>
            <div class="box">
                <label>Level:</label>
                <p *ngIf="hero.level >= 1">{{hero.level}}</p>
                <p *ngIf="hero.level == undefined">1</p>
            </div>           
            <div class="box">
                <button  (click)="getHero(hero.name)">EDIT</button>
                <button  (click)="deleteHero(i, hero.name)">DELETE</button>
            </div>
        </div>
    </aside>
   
</ng-template>