<h6>Equipment</h6>
<section class="equipment">
    <div *ngFor="let item of inventoryArr let i = index" class="box">
        <div class="tb name">
            <Label>Item Name</Label>
            <p class="name">{{item.name}} <span (click)="toggleNotes(i)">({{item.notesDisplay}} notes)</span></p>
            <div *ngIf="item.showNotes" class="box notesBox">        
                <p><label>Notes: </label>{{item.itemNotes}}</p>
            </div>
        </div>
        <div class="tb">
            <label>Carry</label>
            <input type="checkbox" name="carryBox" #carryBox>
        </div>
        <div class="tb">
            <label>QTY</label>
            <input type="number" #qty (change)="adjustQty(i, qty.value)" value="{{item.qty}}" min="1">
        </div>
        <div class="tb">
            <label>Weight</label>
            <p>{{item.weight}}</p>
        </div>
        <div class="tb">
            <label>Total Weight</label>
            <p>{{item.total_weight}}</p>
        </div>
        <div class="tb">
            <label>Base Cost</label>
            <p>{{item.cost}}</p>
        </div>
        <div class="tb">
            <label>Total Cost</label>
            <p>{{item.total_cost}}</p>
        </div>
        <div class="tb">
            <div class="box">
                <button (click)="toggleItemShow(i)">Modify</button>
                <button (click)="deleteItem(i)">Delete</button>
            </div>
        </div>
        <aside class="edit-box" *ngIf="item.show">
            <div class="tb">
                <div class="box">
                    <label>Name: </label>
                    <input type="name" #editName value="{{item.name}}">
                </div>
                <div class="box">
                    <label>Weight in kg: </label>
                    <span>(Prev Weight: {{item.weight}})</span>
                    <input type="number" #editWeight min=".01">

                </div>
                <div class="box">
                    <label>Cost: </label>
                    <span>(Prev Cost: {{item.cost}})</span>
                    <input type="number" #editCost min="0">
                </div>
                <div class="box">
                    <label>Item Notes: </label>
                    <input type="text" #editNotes value="{{item.itemNotes}}">
                </div>
            </div>
            <div class="box">
                <button (click)="editItem(i,editName.value, editWeight.value, editCost.value, editNotes.value)">Update</button>
                <button (click)="toggleItemShow(i)">Cancel</button>
            </div>
        </aside>
    </div>
    <button (click)="toggleEquipTable()">+Add</button>
</section>
<aside class="equipTable" *ngIf="showEqTable">
    <label>Choose which Type of Equipment</label>    
    <select name="equipType" #equipType (change)="createSubCatArr(equipType.value)">
            <option>Select which Type</option>
            <option *ngFor="let type of eqTypeArr">{{type}}</option>
            <option>Custom</option>
        </select>
        <div class="cust" *ngIf="selectedType == 'Custom'" >
            <label>Item Name: </label>
            <input type="cusName" #cusName>
            <label>QTY :</label>
            <input type="number" min="1" #cusQty>
            <label>Type of Equipment: </label>
            <select name="cusEquipType" #cusEquipType>
                <option>Select which Type</option>
                <option *ngFor="let type of eqTypeArr">{{type}}</option>
            </select>
            <label>Weight in kg: </label>
            <input type="number" min="0.01" #cusWeight>
            <label>Cost: </label> 
            <input type="number" min="0" #cusCost>
            <button (click)="createCustomItem(cusName.value, cusQty.value, cusEquipType.value, cusWeight.value, cusCost.value)">Add Item to Inventory</button>
        </div>
        <div *ngIf="selectedType != 'Custom'">
            <label >Choose Category</label>
            <select name="subCat" #subCat (change)="loadFilteredList(subCat.value)">
                <option>Select Category</option>
                <option *ngFor="let cat of equipSubCats">{{cat}}</option>
            </select>
        </div>
    <label>Choose Item to Add</label>
    <select *ngIf="filteredEquipArr.length != 0" name="filterList" #filterList (change)="loadEquipTable(filterList.value)">
        <option>Select an item</option>
        <option *ngFor="let item of filteredEquipArr">{{item.name}}</option>
    </select>     
    <table *ngIf="(tableObj | keyvalue)?.length">
        <div class="box split-view">
            <div class="tb">
                <label>Name: </label>
                <h3>{{tableObj.name}}</h3>
                <div *ngIf="tableObj.desc != ''" class="tb desc">
                    <hr>
                    <p>{{tableObj.desc}}</p>
                </div>
            </div>
            <div class="tb">
                <label>Stats: </label>
                    <div class="box">
                        <label>Cost: </label>
                        <p>{{tableObj.cost}}</p>
                    </div>
                    <div *ngIf="tableObj.weight != ''" class="box">
                        <label>Weight: </label>
                        <p>{{tableObj.weight}}</p>
                    </div>
                    <div *ngIf="tableObj.avail.length !=0" class="box">
                        <label>Availability: </label>
                        <p *ngFor="let av of tableObj.avail">{{av}}</p>
                    </div>
                    <div *ngIf="tableObj.attr.length !=0" class="box">
                        <label>Attributes: </label>
                        <p *ngFor="let at of tableObj.attr">{{at}}</p>
                    </div>
                    <div *ngIf="tableType == 'armor'" class="tb">
                        <div class="box">
                            <label>Armor Bonus: </label>
                            <p>{{tableObj.armor.armBonus}}</p>
                        </div>
                        <div class="box">
                            <label>Max Dexterity Bonus: </label>
                            <p>{{tableObj.armor.dexBonus}}</p>
                        </div>
                        <div class="box">
                            <label>Equipment Bonus: </label>
                            <p>{{tableObj.armor.fortBonus}}</p>
                        </div>
                    </div>
                    <div *ngIf="tableType == 'melee'" class="tb">
                        <div class="box">
                            <label>Damage: </label>
                            <p>{{tableObj.melee.damage}}</p>
                        </div>
                        <div class="box">
                            <label>Damage Type: </label>
                                <p *ngFor="let dgt of tableObj.melee.damage_type">{{dgt}}</p>
                        </div>
                        <div class="box">
                            <label>Size: </label>
                            <p>{{tableObj.melee.size}}</p>
                        </div>
                        <div class="box">
                            <label>Stun: </label>
                            <p>{{tableObj.melee.stun}}</p>
                        </div>
                    </div>
                    <div *ngIf="tableType == 'ranged'" class="tb">
                        <div class="box">
                            <label>Damage: </label>
                            <p>{{tableObj.ranged.damage}}</p>
                        </div>
                        <div class="box">
                            <label>Damage Type: </label>
                                <p *ngFor="let dgt of tableObj.ranged.damage_type">{{dgt}}</p>
                        </div>
                        <div class="box">
                            <label>Size: </label>
                            <p>{{tableObj.ranged.size}}</p>
                        </div>
                        <div class="box">
                            <label>Stun: </label>
                            <p>{{tableObj.ranged.stun}}</p>
                        </div>
                        <div *ngIf="tableObj.ranged.rof.length != 0" class="box">
                            <label>ROF: </label>
                            <p *ngFor="let rate of tableObj.ranged.rof">{{rate}}</p>
                        </div>
                    </div>
                    <div *ngIf="tableType == 'equipment'" class="tb">
                        <div *ngIf="tableObj.equipment.size != ''" class="box">
                            <label>Size: </label>
                            <p>{{tableObj.equipment.size}}</p>
                        </div> 
                        <div *ngIf="tableObj.equipment.damage != ''" class="box">
                            <label>Damage: </label>
                            <p>{{tableObj.equipment.damage}}</p>
                        </div>
                        <div *ngIf="tableObj.equipment.damage != ''" class="box">
                            <label>Explosive Type: </label>
                            <p>{{tableObj.equipment.explosive_type}}</p>
                        </div>
                        <div *ngIf="tableObj.equipment.upgrade_type != ''" class="box">
                            <label>Upgrade Type: </label>
                            <p>{{tableObj.equipment.upgrade_type}}</p>
                        </div>
                        <div *ngIf="tableObj.equipment.surgery_cost != ''" class="box">
                            <label>Costs for Surgery: </label>
                            <p>{{tableObj.equipment.surgery_cost}}</p>
                        </div>
                    </div>
                </div>
        </div>
      
    </table>
    <button  *ngIf="tableObj.name != undefined" (click)="addItem()">Add {{tableObj.name}} to Inventory</button>
    <button (click)="toggleEquipTable()">Cancel</button>
</aside>
