.equipment{

}
.equipTable{
    position: fixed;
    top:0;
        
    table{
        
    }


}
.tb{
    flex: 1;
    label{
        text-align: center;
        display: block;
    }
}
.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    label{
        text-align: center;
    }
}
.box{
    display: flex;
    flex:1;   
    align-items: center;
    justify-content: space-between;
    margin: 0.5vh 1vw;
    p, input{
        text-align: center;
        width: 3vw;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgba(20, 20, 20, 0.05);
        padding: 6px 1rem;
    }
}
.name{
    flex:4;
   p{
       width: 100%;
        text-align: left;
        padding: 0.25rem;
        margin: 1vh 1px;
   } 

}