<header>
    <h1>Character Generator</h1>

</header>

<main>

    <div class="selectors">
        <species (speciesSelected)="updateSpecies($event)"></species>
        <abilities (abilitiesSelected)="updateAbilities($event)" ></abilities>
        <classes *ngIf="toggleClassesComponent == true" (classSelected)="[updateClass($event), skills.showSkills($event), feats.setClass($event)]"></classes>
        <skills #skills [intModifier]="intModifier" (heroSkillsSelected)="updateSkills($event)"></skills>
        <feats #feats (heroFeatsSelected)="updateFeats($event)" (heroSkillTrained)="addRemoveSkill($event)"></feats>
        <talents #talents (heroTalentSelected)="updateTalents($event)"></talents>
    </div>
    <div class="display">
        <input type="text" value="{{heroName}}">
       <h3> <span>Species:  </span> {{species.species_name}}</h3>
        <h3><span>Class: </span>{{class}} </h3>
        <section *ngIf="showAbilities" class="stats">
            <label>HP <p>{{healthPoints}}</p></label>
            <div class="defensesBox">
                <label>Reflex Defense: <span> {{reflexDefense}}</span></label>
                <select value="selected" #reflexModOption (change)="calculateDefenses('Reflex', reflexModOption.value)">
                    <option>Select</option>
                    <option *ngFor="let mod of abModOptions">{{mod}}</option>
                </select>
                <br>

                <label>Fortitude Defense: <span> {{fortitudeDefense}}</span></label>
                <select value="selected" #fortModOption (change)="calculateDefenses('Fort', fortModOption.value)">
                    <option>Select</option>
                    <option *ngFor="let mod of abModOptions">{{mod}}</option>
                </select>
                <br>
                <label>Will Defense: <span> {{willDefense}}</span></label>
                <select value="selected" #willModOption (change)="calculateDefenses('will', willModOption.value)">
                    <option>Select</option>
                    <option *ngFor="let mod of abModOptions">{{mod}}</option>
                </select>
                <br>
            </div>
            <div class="otherStats">
                <label *ngIf="carryLimit">Carry Capacity: <span>{{carryLimit}}</span></label>
                <br>
                <label *ngIf="grapple">Grapple: <span>{{grapple}}</span></label>
                <select value="selected" #grappleOption (change)="calcGrapple(grappleOption.value)">
                    <option>Strength</option>
                    <option>Dexterity</option>
                </select>
            </div>
        </section>
        <section *ngIf="showAbilities" class="abilityWrapper">
            <div class="abilitiesContainer">
                <h3>Hero Abilities</h3>
                <div class="abilities" *ngFor="let ability of abilities | keyvalue : unsorted">
                    <p>{{ability.key}}</p>
                    <p>{{ability.value}}</p>
                </div>
            </div>
            <div class="scoresContainer">
                <h3>Ability Modifier</h3>
                <p *ngFor="let score of abilityModifier | keyvalue: unsorted">{{score.value}}</p>
            </div>
        </section>
        <section *ngIf="showAbilities" class="skillWrapper">
            <div class="skillsContainer">
                <h3>Selected Skills</h3>
                <h4 *ngFor="let skill of chosenSkills">{{skill}}</h4>
            </div>
        </section>
        <section *ngIf="showAbilities" class="featsWrapper">
            <div class="featsContainer">
                <h3>Selected Feats</h3>
                <h4 *ngFor="let feat of chosenFeats">{{feat}}</h4>
            </div>
        </section>
        <section *ngIf="showAbilities" class="talentsWrapper">
            <div class="talentsContainer">
                <h3>Selected Talent</h3>
                <h4>{{talentSelected.name}} : {{talentSelected.description}}</h4>
            </div>
        </section>
        </div>
        <!-- <button  (click)="toggleSelectors()">Show Selectors</button> -->
</main>