main{
    display: flex;
}
.selectors{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    height: 85vh;
    margin:1rem;
    overflow-y: auto;
    border: solid black 2px;
    background-color: rgb(71, 71, 71);
    overflow-y: scroll;
    background-image: url('../../assets/spaceBackground.jpg');
    background-size: cover;
    
}
.skillsCloset{
    display: flex;
    justify-content: space-evenly;
    p{
        text-align: center;
    }
}
.display{
    display: flex;
    flex-direction: column;
    flex:1;
    border:1px solid black;
    height: 85vh;
    border-radius:20px;
    margin: 1rem;
    overflow-y: scroll;
}
.abilityWrapper{
    display: flex;
    .abilitiesContainer{
        display: flex;
        flex-direction: column;
        .abilities {
            display: flex;
            p{
                margin:1rem;
                text-align: center;
                
            }
            p:first-child{
                text-align: justify;
                width: 100px;
            }
        }
    }
    .scoresContainer{
        display:flex;
        flex-direction: column;
        p{
            margin:1rem;

        }
    }
}