<header>
    <h1>Character Generator</h1>

</header>

<main>

    <div class="selectors">
        <species (speciesSelected)="updateSpecies($event)"></species>
        <abilities (abilitiesSelected)="updateAbilities($event)" (abilityModifiers)="getAbilityModifier($event)"></abilities>
        <classes (classSelected)="[updateClass($event), skills.showSkills($event), feats.setClass($event)]"></classes>
        <skills #skills [intModifier]="intModifier" (heroSkillsSelected)="updateSkills($event)"></skills>
        <feats #feats (heroFeatsSelected)="updateFeats($event)" (heroSkillTrained)="addRemoveSkill($event)"></feats>
        <talents></talents>
    </div>
    <div class="display">
        <input type="text" value="{{heroName}}">
       <h3> <span>Species:  </span> {{species}}</h3>
        <h3><span>Class: </span>{{class}} </h3>
        <section *ngIf="showAbilities" class="stats">
            <label>HP <p>{{healthPoints}}</p></label>
            <div class="defensesBox">
                <label>Reflex Defense: <p> {{reflexDefense}}</p></label>
                <label>Fortitude Defense: <p> {{fortitudeDefense}}</p></label>
                <label>Will Defense: <p> {{willDefense}}</p></label>
            </div>
        </section>
        <section *ngIf="showAbilities" class="abilityWrapper">
            <div class="abilitiesContainer">
                <h3>Hero Abilities</h3>
                <div class="abilities" *ngFor="let ability of abilities | keyvalue : unsorted">
                    <p>{{ability.key}}</p>
                    <p>{{ability.value}}</p>
                </div>
            </div>
            <div class="scoresContainer">
                <h3>Ability Modifier</h3>
                <p *ngFor="let score of abilityModifier | keyvalue">{{score.value}}</p>
            </div>
        </section>
        <section *ngIf="showAbilities" class="skillWrapper">
            <div class="skillsContainer">
                <h3>Selected Skills</h3>
                <h4 *ngFor="let skill of chosenSkills">{{skill}}</h4>
            </div>
        </section>
        <section *ngIf="showAbilities" class="featsWrapper">
            <div class="featsContainer">
                <h3>Selected Feats</h3>
                <h4 *ngFor="let feat of chosenFeats">{{feat}}</h4>
            </div>
        </section>
        </div>

</main>