<header>
    <a routerLink="/update-hero" routerLinActive="active">Modifiy an Existing Hero</a>
    <div class="buttonBox">
        <button (click)="nameHeroToggle()" [disabled]="disabler == 'disabled'">Name Hero</button>
        <button (click)="showCharSheet()" class="toggleShow">Show Character Sheet</button>
        <button (click)="saveHero()" [disabled]="disabler == 'disabled'">Save Hero</button>
    </div>

</header>
<aside *ngIf="showModal" class="modalBox">
    <div class="inputBox">
        <label>Name: </label>
        <input type="text" #changeName placeholder="Hero Name">
    </div>
    <div  class="buttonBox">
        <button (click)="nameHero(changeName.value)"><fa-icon [icon]="faSave"></fa-icon> Save Hero Name</button>
        <button (click)="nameHeroToggle()" ><fa-icon [icon]="faClose"></fa-icon> Close Modal</button>
    </div>
</aside>
<main>

    <div class="selectors">
        <species (speciesSelected)="updateSpecies($event)"></species>
        <abilities (abilitiesSelected)="updateAbilities($event)" ></abilities>
        <classes *ngIf="toggleClassesComponent == true" (classSelected)="[updateClass($event), skills.showSkills($event), feats.setClass($event)]"></classes>
        <skills #skills [intModifier]="intModifier" (heroSkillsSelected)="updateSkills($event)"></skills>
        <feats #feats (heroFeatsSelected)="updateFeats($event)" (heroSkillTrained)="addRemoveSkill($event)" (heroForcePowers)="updateForcePowers($event)"></feats>
        <talents #talents (heroTalentSelected)="updateTalents($event)" (heroTalentSpecified)="updateTalentSpecify($event)"></talents>
    </div>
    <div id="contentSaved" class="display {{toggleShow}}" #contentSaved>
        <h2>{{heroName}}</h2> 
      <section class="heroIntro">
          <h3> <span>Species:  </span> {{species.species_name}}</h3>
           <h3><span>Class: </span>{{class}} </h3>
           <h3><span>Level: </span>{{heroLevel}}</h3>
      </section> 
        <section *ngIf="showAbilities" class="stats">       
            <div class="defensesBox">
                <div class="defense">
                    <label>Reflex Defense: </label>
                    <p>{{reflexDefense}}</p>
                    <select value="selected" #reflexModOption (change)="calculateDefenses('Reflex', reflexModOption.value)">
                        <option>Select</option>
                        <option *ngFor="let mod of abModOptions">{{mod}}</option>
                    </select>
                </div>
                <div class="defense">
                    <label>Fortitude Defense: </label>
                    <p>{{fortitudeDefense}}</p>
                <select value="selected" #fortModOption (change)="calculateDefenses('Fort', fortModOption.value)">
                    <option>Select</option>
                    <option *ngFor="let mod of abModOptions">{{mod}}</option>
                </select>
                </div>
                <div class="defense">
                    <label>Will Defense:</label>
                    <p>{{willDefense}}</p>
                    <select value="selected" #willModOption (change)="calculateDefenses('will', willModOption.value)">
                        <option>Select</option>
                        <option *ngFor="let mod of abModOptions">{{mod}}</option>
                    </select>
                </div>             
            </div>
            <div *ngIf="showAbilities" class="healthBox">
               <div class="bContainer">
                   <label>Total HP: </label>
                   <p>{{healthPoints}}</p>
              </div>
              <div class="bContainer">
                  <label>Damage Threshold: </label>
                  <p>{{damageThreshold}}</p> 
                  <select value="selected" #dmgThOption (change)="calcDT(dmgThOption.value)">
                    <option>Select Defense</option>
                    <option>Reflex Defense</option>
                    <option>Fortitude Defense</option>
                    <option>Will Defense</option>
                </select>     
              </div> 
            </div>
            <div *ngIf="showRest" class="otherStats">
                <div class="carryBox">
                    <label *ngIf="carryLimit">Carry Capacity: </label>
                    <p>{{carryLimit}}kg</p>
                </div>
                <div class="grappleBox">
                    <label>Grapple: </label>
                    <p>{{grapple}}</p>
                    <select value="selected" #grappleOption (change)="calcGrapple(grappleOption.value)">
                        <option>Strength</option>
                        <option>Dexterity</option>
                    </select>
                </div>
            </div>
        </section>
        <hr>
        <section *ngIf="showAbilities" class="abilityWrapper">
            <div class="abilitiesContainer">
                <h3>Hero Abilities</h3>
                <div class="abilities" *ngFor="let ability of abilities | keyvalue : unsorted">
                    <p>{{ability.key}}</p>
                    <p>{{ability.value}}</p>
                </div>
            </div>
            <div class="scoresContainer">
                <h3>Ability Modifier</h3>
                <p *ngFor="let score of abilityModifier | keyvalue: unsorted">{{score.value}}</p>
            </div>
        </section>
        <hr>
        <section *ngIf="chosenSkills.length > 0" class="skillWrapper">
            <div class="skillsContainer">
                <h3>Selected Skills: </h3>
                <div class="selectedSkills">
                    <p *ngFor="let skill of chosenSkills">{{skill}}</p>
                </div>
                <hr>
                <div class="skillsCloset" *ngFor="let heroSkill of heroSkillsTotal; let i = index">
                    <p>{{heroSkill.skill_name}}</p>
                    <p>{{heroSkill.skill_value}}</p>
                    <!-- <p>{{heroSkill.default}}</p> -->
                    <select value="selected" id={{i}} (change)="collectCalcData(i,$event)">
                        <option>Select</option>
                        <option *ngFor="let mod of abModOptions">{{mod}}</option>
                    </select>             
                    <p *ngIf="heroSkill.trained_skill == true"><fa-icon [icon]="faChecked"></fa-icon></p>
                    <p *ngIf="heroSkill.trained_skill == false"><fa-icon [icon]="faUncheck"></fa-icon></p>
                    <p *ngIf="heroSkill.skill_focus == true"><fa-icon [icon]="faChecked"></fa-icon></p>
                    <p *ngIf="heroSkill.skill_focus == false"><fa-icon [icon]="faUncheck"></fa-icon></p>
                </div>
            </div>
        </section>
        <hr>
        <section *ngIf="chosenFeats.length > 0" class="featsWrapper">
            <div class="featsContainer">
                <h3>Selected Feats</h3>
                <div class="featsBox">
                    <h4 *ngFor="let feat of chosenFeats">{{feat}}</h4>
                </div>
            </div>
        </section>
        <hr>
        <section *ngIf="forcePowers.length >= 1" class="featsWrapper">
          <div class="featsContainer">
              <h3>Force Powers</h3>
              <div class="box">
                  <h4 *ngFor="let power of forcePowers">{{power.name}}</h4>
              </div>
          </div>
        </section>
        <hr>
        <section *ngIf="showRest" class="talentsWrapper">
            <div class="talentsContainer">
                <h3>Selected Talent</h3>
                <h4>{{talentSelectedName}} : {{talentSelectedDesc}}</h4>
            </div>
        </section>
        </div>
    </main>
    <button (click)="showCharSheet()" class="ftBtn toggleShow">Show Character Sheet</button>
