
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
        text-align: center;
    }
    a{
        text-decoration: none;
        color: black;
        &:hover{
            cursor: pointer;
            color:blue;
        }
    }
    
        button{
            color: rgb(0, 0, 0); font-size: 16px; line-height: 16px; padding: 3px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(221, 199, 3) 0%, rgb(203, 201, 106) 50%, rgb(168, 133, 0) 100%); box-shadow: rgb(0, 0, 0) 5px 2px 15px 0px; border: 2px solid rgb(1, 5, 7); display: inline-block;
            margin: .5rem;
            &:hover {
            background: #DDC703; 
            }
            &:active {
            background: #A88500; 
            }
        }
        
    
    }
    
    .buttonBox{
        display: flex;
        justify-content: space-between
    }
    .toggleShow{
        visibility: hidden;
    }
.modalBox{
    display: flex;
    flex-direction: column;
    height: auto;
    position: absolute;
    right: 15vw;
    width: 15vw;
    border-radius: 15px;
    padding: 1rem;
    z-index: 900;
    background-color: rgba(33, 166, 218, 0.5);
    .inputBox,.buttonBox{
        display: flex;
        height: 5vh;
        margin: 1rem;
    }
    .inputBox{
        justify-content: flex-start;
        align-items: center;
        label{
            color:black;
        }
        input{
            color:black
        }

    }
        button{
            border: none;
            color:rgb(1, 1, 22);
            background-color: transparent;
            &:hover{
                cursor: pointer;
                color:rgb(186, 5, 202);
            }
        }
    
}
main{
    display: flex;
}
hr{
    color:black;
    font-size: 2rem;
    width: 100%;
}
section{
    margin: 1vh 0 2.5vh 0;
}
.selectors{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    height: 85vh;
    margin:1rem;
    border: solid black 2px;
    background-color: rgb(71, 71, 71);
    overflow-y: scroll;
    background-image: url('../../assets/spaceBackground.jpg');
    background-size: cover;
    
}
.display{
    background-color: white;
    h2{
        text-align: center;;
    }
}
.heroIntro{
    display: flex;
    justify-content: space-evenly;
    h3{
        text-align: center;
    }
}
.stats{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.defensesBox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 5vh;
    .defense{
        display: flex;
        align-items: center;
    label,select,p{
        width: 5vw;
    }
     label{
        text-align: justify;
        
     } 
        p{
        text-align: center;
        width: 2vw;
      } 
      select{
        text-align: center;
        height: 3vh;
      } 
    }
}
.healthBox{
    display: flex;
    flex-direction: column;
    .bContainer{
        display:flex;
        label{
            margin:.1rem;
        }
        p{
            margin:.1rem;
        }
        select{
            text-align: center;
        }
    }
}
.otherStats{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
       p,select{
            text-align: center;
            height: 2vh;
        }
        label{
            text-align: justify;
            height: 5vh;
        }
    
    .carryBox, .grappleBox{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
       
    }
    .carryBox{
        align-items: center;
        label{
            width: 6vw;
            height: 2vh;
        }
        p{
            width: 5vw;
        }
    }
    .grappleBox{
        justify-content: space-evenly;
       label{
        width: 4vw;
       }
       p{
        width: 2vw;
       }
       select{
        width: 5vw;
       }
    }
}
.abilityWrapper{
    display: flex;
    justify-content: space-around;
    .abilitiesContainer{
        display: flex;
        flex-direction: column;
        h3{
            text-align: center;
        }
        .abilities {
            display: flex;
            p{
                margin:0 1rem;
                text-align: center;
                width: 2vw;
                
            }
            p:first-child{
                text-align: justify;
                width: 100px;
            }
        }
    }
    .scoresContainer{
        display:flex;
        flex-direction: column;
        h3{
            text-align: center;
        }
        p{
            margin:0 1rem;
            text-align: center;
        }
    }
}
.skillsContainer{
    h3{
        text-align: center;
    }
    span{
        color:black
    }
}
.selectedSkills{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    p{
        margin:.25rem;
    }
}
.skillsCloset{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p,select{
        text-align: center;
        width: 5vw;
     }
    p:first-child{
        font-size:.75rem;
    }
}
.display{
    display: flex;
    flex-direction: column;
    flex:1;
    border:1px solid black;
    overflow-y: scroll;
    border-radius:20px;
    margin: 1rem;
   min-width: 350px;
}

.featsContainer{
    h3{
        text-align: center;
    }
    .featsBox{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 1rem;
    }
    h4{
        margin:.25rem;
    }
}

.talentsContainer{
    h3, h4{
        text-align: center;
    }
    h4{
        margin:0 1rem;
    }
}
.ftBtn{
        width: 50vw;
        display: block !important;
        margin: 2vh auto;
        color: rgb(0, 0, 0); font-size: 16px; line-height: 16px; padding: 3px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(221, 199, 3) 0%, rgb(203, 201, 106) 50%, rgb(168, 133, 0) 100%); box-shadow: rgb(0, 0, 0) 5px 2px 15px 0px; border: 2px solid rgb(1, 5, 7); display: inline-block;
        margin: 1vh auto;
        &:hover {
        background: #DDC703; 
        }
        &:active {
        background: #A88500; 
        }
    
}
@media screen and (max-width: 1280px)  {
    header, main{
        flex-direction: row
    }
    .healthBox{
            select{
                width: 5vw;
            }
        }
        .modalBox{ 
            width: 50vw;
            background-color: rgba(33, 166, 218, 1);
            margin:1rem;
            right: 20vw;
            .inputBox{
                justify-content: center;
    
            }
        }    
       .stats{

           p{
            margin: .5rem
          }
       }
}
@media screen and (max-width: 1000px)  {
    header, main{
        flex-direction: column
    }
    .display{
        position: absolute; 
        visibility: hidden;
        width: 95vw;
        
    }
    .onTop{
        z-index: 500;
        visibility: visible;
    }
    
   .toggleShow{
    visibility: visible;
   }
   .stats{

    p{
     margin: 1rem
   }
}
}
@media screen and (max-width: 850px )  {
    .display{
       
        margin-left: 0;
    }
    .heroIntro{
        margin: 1vh 0;
    }
   .stats{
    flex-direction: column;

    .defensesBox{
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        height: auto;
        margin: 1vh 0.5vw;
        .defense{
            width: 100%;
            justify-content: space-evenly;
            p{
                width:auto;
            }
        }
    }
    .healthBox{
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin: 1vh 0.5vw;
    }
    .otherStats{
        flex-direction: row;
        width: 100%;

        .carryBox{
           width: 100%;
           justify-content: center; 
        }
        .grappleBox{
            width: 100%;
            p{
                width: auto;
            }
        }

    }
   }
}
@media screen and (max-width: 550px )  {
    .defensesBox{
        flex-direction: column;
        .defense{
            justify-content: space-between;
            label{
                margin-right:1rem;
            }
        }
    }
    .bContainer{
        flex-direction: column;
        select{
            width: auto;
        }
    }
    .otherStats{
        flex-direction: column;
        select{
            width: auto;
        }
        label{
            width:auto;
        }
    }
    
}
@media screen and (max-width: 450px )  {
   .defense{
    flex-direction: column;
   }
    .abilityWrapper{
        flex-direction: column;
    }    
    .skillsCloset{
        p:first-child{
            margin-right:1.5rem;
        }
    }


}