section{
    display: flex;
    
}
h3,h5,label, p{
    color: #FFFFFF;
    // text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    color: #FFFFFF;
}
.outsideWrapper{
    
}
input{
    background-color: black;
    color:rgb(228, 206, 8);
    text-align: center;
}
.pointsButton, .toggleButton{
    background-color: black;
    color:rgb(228, 206, 8);
    text-align: center;
    border:1px silver solid;
    margin:1rem;
    &:hover{
        cursor: pointer;
    }
}
.abilityContainer{
    display: flex;
    margin:.5rem;
    justify-content: flex-start;
    align-items: center;

    .abilityName{
       width: 7rem; 
    }
    .abilityValue {
        width: 5rem;
        font-size: 1.5rem;
        text-align: center;
        border: black solid .05rem;
        border-radius: 10px;
        margin:.5rem;
    }

    .buttonContainer{
        display: flex;
        flex-direction: column;
        .addButton{
            background-color: rgb(41, 182, 41);
            color: white;
            &:hover{
                background-color: green;
                
            }
        }
        .subButton{
            background-color: rgb(170, 5, 5);
            color: white;
            &:hover{
                background-color:red
            }
        }
        .addButton, .subButton{
            margin:.25rem;
            &:hover {cursor: pointer;}
        }
        
    }
}
.resultsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
        width: 5rem;
        font-size: 1.5rem;
        text-align: center;
        border: black solid .05rem;
        border-radius: 10px;
        margin:.5rem;
    }
}
