<h6>Experience</h6>
<section class="tb experience">
    <div class="box">
        <p>{{currentXp}}</p>
        <span>/</span>
        <p>{{nextXp}}</p>
    </div>
    <button class="lvlBtn" *ngIf="levelUp" (click)="beginLevelUp()">Level Up</button>

    <aside class="lvlModal" *ngIf="levelUpModal">
        <h2>Select your Class for this Level</h2>
        <select #classSelected name="classSelected" (change)="addClassSelection(classSelected.value)">
            <option>Select a Class</option>
            <option *ngFor="let class of startingClasses">{{class.name}}</option>
        </select>
       
        <div class="tb" *ngIf="lvlUpObject.class != ''">
            <h4>Will you roll for your hp or use a constant?</h4>
            <select #hpSelector name="hpSelector" (change)="selectHPIncrease(hpSelector.value)">
                <option>Select</option>
                <option>Roll HP</option>
                <option>Use Constant</option>
            </select>
            <div class="tb" *ngIf="hpKeyWord == 'Roll HP'">
                <label>Roll for HP </label>
                <button (click)="rollHP()" [disabled]="rolledHp > 0">Roll HP</button>
                <p *ngIf="rolledHp > 0">You rolled a {{rolledHp}}</p>
            </div>
            <div class="tb" #useConstant *ngIf="hpKeyWord == 'Use Constant'">
                <label>Input Constant for this Class</label>
                <input type="number" #hpConst min="0">
                <button (click)="calcHPIncrease(hpConst.value)">Increase HP</button>
            </div>
        </div>
        <div *ngIf="showClassFeat" class="tb">
           <label>Select a Class Feat</label>
           <select #classFeat name="classFeat" (change)="selectFeat(classFeat.value)">
                <option>Select</option>
                <option *ngFor="let feat of importFeatsArr">{{feat}}</option>
           </select>
           <p *ngIf="featName != ''">Selected Feat: {{featName}}</p>
           <p *ngIf="featDesc !=''">Description: {{featDesc}}</p>
           <div *ngIf="showAddOptions" class="tb">
                <label>Select additional Option</label>
                <select  #addOption name="addOption">
                    <option>Select</option>
                    <option *ngFor="let addOpt of addOptionsArr">{{addOpt}}</option>
            </select>
            <button (click)="addFeat(classFeat.value, addOption.value)">Add Feat</button>
           </div>
           <button *ngIf="showAddOptions == false" (click)="addFeat(classFeat.value, 'none')">Add Feat</button>
        </div>
        <div *ngIf="showTalent" class="tb">
            <Label>Select a Talent to add</Label>
            <select #talentSelector name="talentSelector" (change)="selectTalent(talentSelector.value)">
                <option>Select</option>
                <option *ngFor="let talent of importTalentsArr">{{talent.name}}</option>
            </select>
            <div *ngIf="showTalentOptions" class="tb">
                <label>Choose an Option</label>
                <select #talentOption name="talentOption">
                    <option>Select</option>
                    <option *ngFor="let addOpt of addOptionsArr">{{addOpt}}</option>
                </select>
                <button (click)="addTalent(talentSelector.value, talentOption.value)">Add Talent</button>
            </div>
            <div *ngIf="talentName != ''">
                <h4>Talent Name:  {{talentName}}</h4>
                <p>Description: {{talentDesc}}</p>
            </div>
            <button *ngIf="showTalentOptions == false" (click)="addTalent(talentSelector.value, 'none')">Add Talent</button>
        </div>
        <div *ngIf="showAbs">
            <h2>Hi from Abs</h2>
        </div>
        <div class="tb">
            <h4>Selected Stats</h4>
            <p *ngIf="lvlUpObject.class != ''">Selected Class: {{lvlUpObject.class}}</p>
            <p *ngIf="lvlUpObject.hp != 0">HP to increase {{lvlUpObject.hp}}</p>
            <p *ngIf="lvlUpObject.feats[0] != ''">Feat(s) to add: <span *ngFor="let feat of lvlUpObject.feats">{{feat}}</span></p>
            <p *ngIf="lvlUpObject.talents.name != ''">Talent to add: <span *ngIf="lvlUpObject.talents.alias == undefined">{{lvlUpObject.talents.name}}</span><span *ngIf="lvlUpObject.talents.alias != ''">{{lvlUpObject.talents.alias}}</span></p>
            <button [disabled]="lvlButton == false" (click)="levelUpHero()">Level Up</button>
        </div>
    </aside>
</section>

