<section *ngIf="showTalents == true">
    <h2>Please Select a Starting Talent for your Hero.</h2>
    <label>Talents: </label> <select value="selectedTalents" #selectedTalents (change)="selectedTalent(selectedTalents.value)">
        <option>Select a Talent</option>
        <option *ngFor="let talent of availableTalents">{{talent.name}}</option>
    </select>
        <h3>Talent: {{selectedTalentName}}</h3>
        <p>Description: {{selectedTalentDescription}}</p>
        <div *ngIf="hideButton == 'show'">
            <h3>
                Hit Select Talent to add {{selectedTalentName}} to your hero and generate your new hero
            </h3>
            <button (click)="submit()">Select Talent</button>
        </div>
</section>
