<div *ngIf="startingFeats.length > 1">
    <section class="startFeats">
        <p *ngFor = "let feat of startingFeats">{{feat}}</p>

    </section>
    <section *ngIf="additionalFeatsArray.length > 0">
        <label>Select one Skill Focus to add:</label>
            <select value="additionalFeat" #additionalFeat>
<option *ngFor="let addFeat of additionalFeatsArray">{{addFeat}}</option>
            </select>
            <button (click)="submit(additionalFeat.value)">Add this Bonus Feat</button>
    </section>
    <section *ngIf="extraFeat == 'yes'" >
        <form>
            <label>Feats: </label> <select value="selectedFeat" #selectedFeat (change)="selected(selectedFeat.value)">
                <option>Select a Feat</option>
                <option *ngFor="let feat of selectableFeats">{{feat}}</option>
            </select>     
        </form>
        <h2>Feat: {{selectedFeatName}}</h2>
        <p>Description: {{selectedFeatDescription}}</p>
        <div *ngIf="specifyFeat == 'yes'">
            <select value="specialFeat" #specialFeat (change)="setFeatOption((specialFeat.value))" >
                <option *ngFor="let featOption of specialFeatOptions">{{featOption}}</option>
            </select>
        </div>
        <button (click)="submit(selectedFeat.value)">Select Feat</button>
    </section>
</div>
