<div *ngIf="startingFeats.length > 1">
    <section class="startFeats">
        <p *ngFor = "let feat of startingFeats">{{feat}}</p>

    </section>
    <section *ngIf="extraFeat == 'yes'" >
        <form>
            <label>Feats: </label> <select value="selectedFeat" #selectedFeat (change)="selected(selectedFeat)">
                <option>Select a Feat</option>
                <option *ngFor="let feat of selectableFeats">{{feat}}</option>
            </select>
            
        </form>
        <h2>Feat: {{selectedFeatName}}</h2>
        <p>Description: {{selectedFeatDescription}}</p>
        <button (click)="submit()">Select Feat</button>
    </section>
</div>
