<div *ngIf="startingFeats.length > 1">
    <section class="startFeats">
        <p *ngFor = "let feat of startingFeats">{{feat}}</p>

    </section>
    <!--the below sectin will only show up if Arkanian Offshoot is chosen-->
    <section *ngIf="additionalFeatsArray.length > 0">
        <label>Select one Skill Focus to add:</label>
            <select value="additionalFeat" #additionalFeat>
<option *ngFor="let addFeat of additionalFeatsArray">{{addFeat}}</option>
            </select>
            <button (click)="setAdditionalFeat(additionalFeat.value)">Add this Bonus Feat</button>
    </section>
    <section>
        <form>
            <label>Feats: </label> <select value="selectedFeat" #selectedFeat (change)="selected(selectedFeat.value, 0)">
                <option>Select a Feat</option>
                <option *ngFor="let feat of selectableFeats">{{feat}}</option>
            </select>     
            <h2>Feat: {{selectedFeatName}}</h2>
            <p>Description: {{selectedFeatDescription}}</p>
            <div *ngIf="specifyFeat == 'yes'">
                <select #specialFeat (change)="setFeatOption(specialFeat.value, 0)" >
                    <option *ngFor="let featOption of specialFeatOptions">{{featOption}}</option>
                </select>
            </div>
            <button class="featsButton" (click)="submit(selectedFeat.value, 0)">Select Feat</button>
        </form>
    </section>
    <section *ngIf="extraFeatShow == 'yes'" >
        <form>
            <label>Feats: </label> <select value="selectedFeat" #extraSelectedFeat (change)="selected(extraSelectedFeat.value, 1)">
                <option>Select a Feat</option>
                <option *ngFor="let exfeat of selectableFeats">{{exfeat}}</option>
            </select>     
            <h2>Feat: {{extraFeatName}}</h2>
            <p>Description: {{extraFeatDescription}}</p>
            <div *ngIf="extraSpecifyFeat == 'yes'">
                <select #exSpecialFeat (change)="setFeatOption(exSpecialFeat.value, 1)" >
                    <option *ngFor="let featOption of extraSpecialFeatOptions">{{featOption}}</option>
                </select>
            </div>
            <button class="featsButton" (click)="submit(extraSelectedFeat.value, 1)">Select Feats</button>
        </form>
    </section>
</div>
