
.tb{
    display: flex;
    flex-direction: column;
}
.tbrow{
    display: flex;
    margin-left: 1rem;
}
.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    label{
        text-align: center;
    }
}

.box{
    display: flex;
    flex:1;   
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5vh 1vw;
    p, input{
        margin:0 1rem;
        text-align: center;
        width: 3ch;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgba(20, 20, 20, 0.05);
        padding: 6px 1rem;
    }
   
    .shadow{
         margin:0 1rem;
         text-align: justify;
         border: none;
         border-radius: 5px;
         background-color: rgb(151, 150, 150);
         padding: 6px 5rem 6px 1rem;   
     }
    span{
        margin: 0 1rem;
    }

}
.cols{
    flex-direction: column;
}
.name{
    justify-content: center;
    p{
        color: black;
        background-color: rgba(20, 20, 20, 0.05);
        border-radius: 5px;
        width: 20ch;
        text-align: left;
        padding: 0.25rem;
        margin: 1vh 1px;
    } 
}
.blank{
    visibility: hidden;
}
.notes{
    border:1px solid black;
    align-items: flex-start;
    background-color:rgba(20, 20, 20, 0.05);
    justify-content: flex-start;
    margin-left:2.5rem;
    p{
        min-height: 5vh;
        padding:0 5px;
        border:none;
        background-color: transparent;
        margin:0;
        width:100%;
        text-align: start;
    }
    label{
        font-size: .60rem;
    }
}
.btns{
    margin-left: 3rem;
}
.wep-edit{
    flex-direction: column;
    position: fixed;
    z-index: 90;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px 5px;
    top:0;
    left:50vw;
    input{
        width:auto;
    }
    button{
        margin:.5rem 0;
    }
}

@media (min-width:768px){

    .tb{
        flex-direction: row;
    }
    .box{
        justify-content: space-between;    
    }
    .name{
        p{
            color: black;
            background-color: rgba(20, 20, 20, 0.05);
            border-radius: 5px;
            width: 35ch;
            text-align: left;
            padding: 0.25rem;
            margin: 1vh 1px;
        }
    }
    .notes{
        label{
            width:3vw;
        }
    }
    .btns{
        margin-left: 1rem;
    }
    .wep-edit{
       
       
        button{
            margin:.5rem;
        }
    }

}